doctype html
html(lang='en')
  head
    title Vayu quote example
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    .jumbotorn.text-center
      h1 Vayu HTML example
    .container
      h1
        p Title:
          =Title
      h1
        p Author:
          =Author